@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/colors.scss';

.coffeecolor {
    margin: 15% 0%;

    &__step {
        @include raleway-light;
        margin-bottom: 5%;
    }

    &__question{
        @include raleway-regular;
    }

    &__option-bg-container{
        margin-bottom: 5%;
    }

    &__value-container {
        // height: 50px;
        display: flex;
        align-items: center;
    }

    &__value-example{
        width: 60px;
        height: 30px;
        margin-left: 4%;

        &--bg1{
            background-color: #F5E2C1;
        }

        &--bg2{
            background-color: #DBC1AC;
        }
        &--bg3{
            background-color: #967259;
        }
        &--bg4{
            background-color: #634832;
        }
        &--bg5{
            background-color: #38220F;
        }
    }

    &__select-condition {
        @include raleway-light;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__option-container{
        display: flex;
        align-items: center;
    }

    &__input-range{
        margin: 0% 3%;
    }

    &__label {
        margin-left: 10%;
        @include raleway-regular;
    }

    &__btn-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        @include form-btn-mobile;
    }
}