//  Color test 1 

$primary1: #94A2A5;
$light-shades1: #F8F9F7;
$light-accent1: #958367;
$dark-accent1: #825D50;
$dark-shades1: #3F3845;

// color test 2

$primary2: #767376;
$light-shades2: #E5E8DC;
$light-accent2: #90693D;
$dark-accent2: #633436;
$dark-shades2: #1A171D;

// color test 3

$primary3: #956D57;
$light-shades3: #E0D3C3;
$light-accent3: #A6AB79;
$dark-accent3: #A87559;
$dark-shades3: #41393C;


// color test 4

$primary4: #F9F9F8;
$light-shades4: #8B8C82;
$light-accent4: #89715B;
$dark-accent4: #24100A;
$dark-shades4: #502010;
