@import "colors";
@import "variables";

// Responsive

@mixin desktop {
    @media (min-width: $desktop) {
        @content
    }
};

@mixin tablet {
    @media (min-width: $tablet) {
        @content
    }  
};

// Spacing

@mixin mobile-margin {
    margin: 0 1rem;
};

@mixin mobile-padding {
    padding: 0 1rem;
}

@mixin tablet-padding {
    padding: 0 1.5rem;
}

@mixin tablet-margin {
    margin: 0 1.5rem;
}

@mixin desktop-padding {
    padding: 0 11.25rem;
}

@mixin desktop-margin {
    margin: 0 11.25rem;
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
}

//  Fonts

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin raleway-thin {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

@mixin raleway-extra-light {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

@mixin raleway-light {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

@mixin raleway-regular {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

@mixin raleway-medium {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

@mixin raleway-semi-bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

@mixin raleway-bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

@mixin raleway-extra-bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
@mixin raleway-black {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

//  elements

@mixin img-align {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
};