@import '../styles/partials/colors.scss';
@import '../styles/partials/mixins.scss';

.blog {
    background-image: url(../assets/images/home-bg/bg5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    &__main-section{
        margin: 10% 0%;
        background: rgba(255, 255, 255, 0.7);
        margin: 10% 0%;
        padding: 5% 5%;

    }

    &__header-title{
        @include raleway-bold;
        font-size: 30px;
    }

    &__titles {
        @include raleway-medium;
        margin: 0;
    }

    &__links {
        text-decoration: none;
        color: black;
    }

    &__date {
        @include raleway-light;
    }
    
    &__excerpt {
        @include raleway-regular;
    }

}