@import '../styles/partials/colors.scss';
@import '../styles/partials/mixins.scss';

.contact {
    &__content-container {
        margin: 10% 0%;
        background: rgba(255, 255, 255, 0.5);
    }

    &__header-title {
        @include raleway-bold;
        font-size: 30px;
    }

    &__content {
        @include raleway-regular;
    }
}