@import '../styles/partials/mixins.scss';
@import '../styles/partials/colors.scss';

.header {
    display: flex;
    justify-content: space-between;

    @include tablet {
        height: 55px;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        -webkit-text-stroke: 0.7px $dark-shades;
        -webkit-text-fill-color: white;
        @include raleway-bold;
        font-size: 20px;

        @include tablet {
            font-size: 28px;
        }
    }
}