@import '../styles/partials/mixins.scss';
@import '../styles/partials/colors.scss';

.header {
    display: flex;
    justify-content: space-between;

    // &__nav-container {
    //     background-color: black;
    //     height: 100px;
    //     width: 100px;
    // }

    &__link {
        text-decoration: none;
        -webkit-text-stroke: 0.7px $dark-shades;
        -webkit-text-fill-color: white;
        @include raleway-bold;
        font-size: 20px;
    }
}