@import '../styles/partials/colors.scss';
@import '../styles/partials/mixins.scss';

.learn {
    background-image: url(../assets/images/home-bg/bg5.jpg);
    // @include img-align;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        @include raleway-bold;
        font-size: 30px;
        padding: 0% 5%;
    }

    &__content-container{
        background: rgba(255, 255, 255, 0.5);
        margin: 10% 0%;
        // mix-blend-mode: difference;
    }

    &__section-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        padding: 0% 5%;
    }

    &__section-header{
        @include raleway-regular;
        color: #000000;
    }

    &__section-content {
        @include raleway-regular;
        color: #000000;
    }

    &__link {
        @include raleway-regular;
        font-style: italic;
        text-decoration: none;
        color: black;
        align-self: flex-end;
    }
}