@import '../styles/partials/colors.scss';
@import '../styles/partials/mixins.scss';

.main {
    background-image: url('../assets/images/home-bg/bg7.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__hero-text-container {
        margin: 10% 0%;
        height: 300px;
        display: flex;
        align-items: center;
    }

}