@import '../styles/partials/colors.scss';
@import '../styles/partials/mixins.scss';

.main {
    background-image: url('../assets/images/home-bg/bg7.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__hero-text-container {
        margin: 10% 0%;
        height: 300px;
        display: flex;
        align-items: center;

        @include tablet {
            justify-content: center;
        }
    }   

    &__quote{
        @include raleway-regular;
        margin: 0 auto;
        font-style: italic;

        @include tablet {
            font-size: 25px;
        }
    }

    &__quote-person {
        @include raleway-light;
        font-style: italic;
        align-self: flex-end;

        @include tablet {
            font-size: 25px;
        }
    }
}

.MainTypist {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
        width: 500px;
    }
}