@import '../styles/partials/mixins.scss';
@import '../styles/partials/colors.scss';

.method {
    background-image: url(../assets/images/home-bg/bg7.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__content-container {
        background: rgba(255, 255, 255, 0.5);
        margin: 10% 0%;
        padding: 0% 5%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include raleway-bold;
        font-size: 30px;
    }

    &__content {
        @include raleway-regular;
    }

    &__link-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__next-arrow {
        height: 50px;
        width: 50px;
        margin: 0;        
    }
}