@import '../styles/partials/mixins.scss';
@import '../styles/partials/colors.scss';

.container {
    @include mobile-margin;
    // margin: 0 auto;
    max-width: 750px;
    padding: 1rem 0rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @include tablet {
        @include tablet-margin;
    }
}

.content {
    flex-grow: 1;
}

