@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/colors.scss';

.recommendation {
    width: auto;
    margin: 0 auto;

    &__card {
        margin: 0 auto;
        border: 1px solid $light-shades;
        border-radius: 10px;
        height: 350px;
        // width: 230px;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include desktop {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

        }

        &:hover{
            @include desktop {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }
        }

        &--image{
            width: 90px;
            height: auto;
            object-fit: contain;
            margin: 0 auto;
            @include img-align;
        }

        &--coffee-info-container{
            display: flex;
            flex-direction: column;
        }

        &--coffee-title{
            margin: 0;
            align-self: center;
            @include raleway-regular;
        }

        &--coffee-description {
            margin: 0 auto;
            width: 220px;
            @include raleway-light;
        }

        &--link{
            text-decoration: none;
            color: black;
            align-self: flex-end;
        }
    }

    &__btn-container {
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 5%;
    }

    &__btn{
        @include form-btn-mobile;
    }
}