@import '../../styles/partials/mixins.scss';


.nav {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 10%;

    &__link {
        text-decoration: none;
        color: black;
        @include raleway-regular;
        font-size: 30px;
        margin: 5% 0;
    }
}