@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/colors.scss';


.nav {
    // display: flex;
    // flex-direction: column;
    // width: 200px;
    // margin-top: 10%;

    &__menu-wrap{
        // turn on position fixed for static menu follow scroll
        // position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    &__hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__hamburger > div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }

    &__hamburger >div:before, &__hamburger > div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }

    &__hamburger > div:after {
        top: 10px;
    }
    
    //  toggler animate

    &__toggler:checked + &__hamburger > div {
        transform: rotate(135deg);
    }

    // turn lines into X 

    &__toggler:checked + &__hamburger > div:before, &__toggler:checked + &__hamburger > div:after{
        top: 0;
        transform: rotate(90deg);
    }

    // rotate on hover when checked 

    &__toggler:checked:hover + &__hamburger > div {
        transform: rotate(225deg);
    }

    // Show menu

    &__menu-wrap &__toggler:checked ~ &__menu {
        visibility: visible;
    }

    &__menu-wrap &__toggler:checked ~ &__menu > div {
        transform: scale(1);
        transition-duration: 0.7s;
    }

    &__menu-wrap &__toggler:checked ~ &__menu > div > div {
        opacity: 1;
        transition: opacity 0.4s ease;
    }

    &__menu-wrap &__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
        // very crucial height, chances where the nav bar pops up
        height: 100%;

        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu-wrap &__menu > div {
       background: $light-shades;
       border-radius: 50%;
       width: 240vw;
       height: 240vw;
       display: flex;
       flex: none;
       align-items: center;
       justify-content: center;
       transform: scale(0);
       transition: all 0.4s ease;
    }

    &__menu-wrap &__menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    &__menu-link {
        list-style: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem;
    }

    &__link {
        text-decoration: none;
        color: black;
        transition: color 0.4s ease;
        @include raleway-regular;
        font-size: 30px;
        margin: 5% 0;
    }
}

